.mywidget_container { display: -webkit-inline-box; width: 100%; overflow: hidden; }
.mywidget_children { width: 100%; overflow: hidden; max-width: 100%; position: relative}
.mywidget_img { }
.mywidget_bttn_prev { margin-top: 4px; }
.mywidget_bttn_nwxt { margin-top: 4px; }
